@import url('https://fonts.googleapis.com/css2?family=Podkova&family=Righteous&display=swap');

body {
  background: #d1ccff;
}

p, li, figcaption, pre {
  max-width: 960px;
  font-family: "Podkova";
  color: #1b09b8;
}

h1, h2, h3 {
  font-family: "Righteous";
  color: #1b09b8;
}

main a{
  color: #ac5be3;
}

#backto {
  position: fixed;
  margin-left: 960px;
  margin-top: 10px;
  font-family: "Righteous";
}

main a:hover{
  background-color: #ca8df2;
}

main a:active {
  color: #fff;
}

nav {
  border-bottom: 20px solid #7442eb;
  padding-bottom: 0;
  max-width: none;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  border-bottom: 1px solid #1b09b8;
  margin-bottom: 0;
}

nav a {
  background-color: #7442eb;
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 8px;
  border: 1px solid #1b09b8;
  text-decoration: none;
}

.nonactive:hover {
  background-color: #5f3cb0;
}

.active {
  border-bottom: solid 1px #7442eb;
}


#digital img {
  max-width: 500px;
  max-height: 500px;
}

#digital figure {
  border: 5px solid #7442eb;
  border-radius: 1em;
}

#digital figcaption {
  border: 2px solid #7442eb;
  font-size: 20px;
  border-radius: 1em;
  padding-left: 20px;
  background-color: #e6e3ff;
}

#digital main {
  display: grid;
  grid-template-columns:600px 600px;
  grid-template-rows: 1fr 1fr 1fr;
}

#blue {
  position: relative;
  left: 100px;
}

#fargo {
  position: relative;
  left: 150px;
}

#kirby {
  position: relative;
  top: 50px;
  left: 5px;
}

#kirbcaption {
  position: relative;
  top: 94px;
}

#iwasaki {
  position: relative;
  left: 40px;
  bottom: 20px;
}

#fowler {
  position: relative;
  left: 25px;
}

#traditional figure {
  border: 5px solid #7442eb;
  border-radius: 1em;
}

#traditional img {
  max-width: 500px;
  max-height: 500px;
}

#traditional main {
  display: grid;
  grid-template-columns:600px 600px;
  grid-template-rows: 1fr 1fr 1fr;
}

#angel {
  position: relative;
  top: 50px;
  left: 90px;
}

#angelcaption {
  position: relative;
  top: 88px;
}

#dorian {
  position: relative;
  left: 5px;
  top: 2px;
}

#doriancaption {
  position: relative;
  top: 25px;
}

#flowers {
  position: relative;
  left: 130px;
  top: 50px;
}

#flowercaption {
  position: relative;
  top: 103px;
}

#matty {
  position: relative;
  left: 43px;
}

#natalia {
  position: relative;
  left: 90px;
  top: 70px;
}

#nataliacaption {
  position: relative;
  top: 120px;
}

#gube {
  position: relative;
  left: 30px;
}

#traditional figcaption {
  border: 2px solid #7442eb;
  font-size: 20px;
  border-radius: 1em;
  padding-left: 20px;
  background-color: #e6e3ff;
}

footer {
  background-color: #7442eb;
  max-width: none;
}
